<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security</title>
</head>
<body>
    <h1>어서오세요 ! [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2 th:text="${session.greeting}"></h2>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value ="Sign Out">
    </form>
</body>
</html>